<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}
  </title>
  <link rel="stylesheet" href="https://classless.de/classless.css">

  <style type="text/css" media="all">
    :root {
      --font-p: 1em/1.7 monospace;
      --font-h: .9em/1.5 monospace;
      --font-c: .9em/1.4 monospace;
      --width: 70rem;

      --cfg: #ebdbb2;
      --cdark: #3c3836;
      --cmed: #7c6f64;
      --clight: #fbf1c7;
      --clink: #83a598;
      --cemph: #fe8019;
      --cbg: #282828;

      --c-primary: #b16286;
    }

    code {
      color: var(--cbg);
    }

    time {
      color: var(--cmed);
    }

    tr:hover {
      color: var(--cdark);
    }

    ::selection {
      color: var(--cfg);
      background-color: var(--c-primary);
    }

    h1.name {
      font-size: 3em;
    }

    h1.name span {
      color: var(--c-primary);
    }

    .mb-personality {
      display: block;
      border-radius: 50%;
      height: 250px;
      width: 250px;
      text-align: center;
      padding-top: 70px;
      background-color: #d8a537;
      margin: 0 auto;
      color: white;
      font-size: 64px;
      font-family: monospace;
    }
  </style>
</head>

<body>
  <!-- Code that all your templates share, like a header -->
  {{ block "main" . }}
  <!-- The part of the page that begins to differ between templates -->
  {{ end }}
  {{ block "footer" . }}
  <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
  {{ end }}
</body>

</html>
