{{ define "main" }}

{{ $ctx := . }}
{{ $c := .Params.Properties }}

{{ range $i, $u := .Params.Properties.url }}
<article class="h-entry">
  <a id="{{ $i }}"></a>

  <p class=e-content><a class="u-author" href="https://www.jvt.me/">Jamie Tanna</a> follows <a class="u-follow-of"
      href="{{ $u }}">{{ $u
      }}</a>.</p>

  <a class=u-syndication href="https://fed.brid.gy/" aria-hidden="true"></a>
  <a class=u-url href="{{ $ctx.RelPermalink }}#{{ $i }}" aria-hidden="true"></a>

</article>
{{ end }}
{{ end }}
